<!DOCTYPE html>
<html>
  <head>
    <title>Edit Post</title>
  </head>
  <body>
    <h1>Edit Post</h1>
    <form method="POST" action="/posts/edit/<%= postId %>">
      <label for="title">Title:</label>
      <input type="text" id="title" name="title" value=<%= post.title %> required><br><br>

      <label for="text">Text:</label><br>
      <textarea id="text" name="text" rows="4" cols="50"><%= post.text %></textarea><br>

      <input type="submit" value="Done">
    </form>
  </body>
</html>