<div class="container">
  <form method="post" action="/posts/edit/<%= postId %>">
    <h3>Edit Post</h3>

    <div class="form-group">
      <label for="title">Title:</label>
      <input type="text" value="<%= post.title %>" class="form-control" name="title" id="title">
    </div>

    <div class="form-group">
      <label for="text">Text:</label>
      <textarea class="form-control" rows="15" name="text" id="text"><%= post.text %></textarea>
    </div>

    <button class="btn btn-lg btn-primary btn-block" value="Done!" type="submit">Done!</button>
    <% if(status !== '') { %>
    <div class="alert alert-danger" role="alert">
      <%= status %>
    </div>
    <% } %>
  </form>
</div>