<div class="container">
  <form method="post" action="/subs/new">
    <h3>Create New Subexchange</h3>

    <div class="form-group">
      <label for="name">Name:</label>
      <input type="text" class="form-control" name="name" id="name" required="">
    </div>

    <div class="form-group">
      <label for="description">Description:</label>
      <textarea class="form-control" rows="3" name="description" id="description" required=""></textarea>
    </div>

    <div class="form-group">
        <label for="sidebar">Sidebar:</label>
        <textarea class="form-control" rows="7" name="sidebar" id="sidebar" required=""></textarea>
      </div>

    <button class="btn btn-lg btn-primary btn-block" value="Done!" type="submit">Done!</button>
    <% if(status !== '') { %>
      <div class="alert alert-danger" role="alert">
          <%= status %>
      </div>
    <% } %>
  </form>
</div>
