<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
  </head>
  <body>
    <h1>Signup</h1>

    <% if (locals.error) { %>
      <p style="color: red;"><%= error %></p>
    <% } %>

    <form method="POST" action="/user/register">
      <label>
        Name:
        <input type="text" name="name" required>
      </label><br>

      <label>
        Email:
        <input type="email" name="email" required>
      </label><br>

      <label>
        Password:
        <input type="password" name="password" required>
      </label><br>

      <button type="submit">Signup</button>
    </form>
  </body>
</html>