<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
  <%- include('../partials/header') %>

  <div class="layout-sidebar">
      <main><%- body %></main>
      <side><% if(!req.cookies.jwtToken) { %>
          <div class="login">
            <form method="GET" action="/user/login">
              <input type="submit" value="Login">
            </form>
          </div>
          <div class="register">
            <form method="GET" action="/user/register">
              <input type="submit" value="Register">
            </form>
          </div>
        <% } %>
        <% if(req.cookies.jwtToken) { %>
          <div class="profile">
            <form method="GET" action="/user/profile">
              <input type="submit" value="Profile">
            </form>
          </div>
          <div class="myposts">
            <form method="GET" action="/user/myposts">
              <input type="submit" value="My Posts">
            </form>
          </div>
        <% } %>
      </side>
  </div>

  <%- include('../partials/footer') %>

</body>
</html>