body {
    background-color: lightblue;
    font-size: 26 px;
}

.wrapper{
    width: 2500px;
    margin: 0 auto;
    background-color: lavender;
    padding: 10px;
}

header {
    background-color: ghostwhite;
    padding: 10px;
}

footer {
    background-color: ghostwhite;
    padding: 20px;
}

main {
    background-color: burlywood;
    padding: 20px;
}

.layout-sidebar {
    display: grid;
    gap: 10px;
    grid-template-columns: 3fr 1fr;
    background-color:khaki;
}

.post {
    width: 1750px;
    padding: 10px;
    background-color: lightsalmon;
}

.title {
    width: 2450px;
    padding: 10px;
    background-color: coral;
}