/* style for tags */

body {
    margin: 0;
    background-color: ghostwhite;
    font-family: "Noto Sans", sans-serif;
}

header {
    width: 100%;
    background-color: #d0e4fc;
    padding: 10px;
}

footer {
    background-color: ghostwhite;
    padding: 10px;
}

main {
    padding: 20px;
}

a {
    text-decoration: none;
}

/* style for common classnames */

.title {
    width: 100%;
    padding: 10px;
}

.layout-sidebar {
    display: grid;
    gap: 10px;
    grid-template-columns: 3fr 1fr;
}

/* style for up-/downvotes */

.upvote {
    display: inline-block;
    cursor: pointer;
    color: #687074
}

.upvote.on {
    color: #f48024
}

.downvote {
    display: inline-block;
    cursor: pointer;
    color: #687074
}

.downvote.on {
    display: inline-block;
    cursor: pointer;
    color: rgb(58, 58, 197)
}

/* style for posts */

.post-container {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
}

.post {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.voting-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    color: rgb(152, 148, 148);
    font-size: 15px;
    font-weight: bold;
}

.rank {
    color: rgb(152, 148, 148);
    font-size: 20px;
    padding: 5px;
}

.post-body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
}

.post-title {
    margin: 0;
    font-size: 20px;

}

.post-tags {
    color: grey;
    margin: 0;
    font-size: 12px;
}

.post-tags a {
    color: blue;
}

.post-tags a:hover {
    text-decoration: underline;
}

.post-body ul.post-buttons {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.post-body ul.post-buttons li {
    margin-right: 10px;
    font-size: 12px;
}

.post-body ul.post-buttons li a {
    color: gray;
    font-weight: bold;
    text-decoration: none;
}

.post-body ul.post-buttons li a:hover {
    text-decoration: underline;
}