body {
    background-color: lightblue;
    font-size: 26 px;
}

.wrapper{
    width: 1200px;
    margin: 0 auto;
    background-color: lavender;
    padding: 10px;
}

header, footer {
    background-color: ghostwhite;
    padding: 20px;
}

main {
    background-color: burlywood;
    padding: 20px;
}

.layout-sidebar {
    display: grid;
    gap: 10px;
    grid-template-columns: 2fr 1fr;
    background-color:khaki;
}

.post {
    width: 600px;
    padding: 10px;
    background-color: lightsalmon;
}

.title {
    width: 700px;
    padding: 10px;
    background-color: coral;
}